{% extends 'base.html.twig' %}

{% block title %}
	Ajouter une voiture
{% endblock %}

{% block body %}
	<section id="add">
		<a href="{{ path('app_home') }}">← Retour</a>
		<h1>Ajouter une voiture</h1>

		{{ form_start(form) }}

		<div class="input">
			{{ form_row(form.name) }}
		</div>
		<div class="input">
			{{ form_row(form.description) }}
		</div>
		<div class="flex-input">
			<div class="input">
				{{ form_row(form.monthlyPrice) }}
			</div>
			<div class="input">
				{{ form_row(form.dailyPrice) }}
			</div>
		</div>
		<div class="flex-input">
			<div class="input">
				{{ form_row(form.numberOfSeats) }}
			</div>
			<div class="input">
				{{ form_row(form.gearbox) }}
			</div>
		</div>
		<button type="submit" class="btn-add">Ajouter</button>

		{{ form_end(form) }}

	</section>
{% endblock %}